body{
  margin: 0; /* Remove outlines */
  background-color:#E9E0D7; /* lighter alt of #D5C7BC */
  overflow-x: hidden;
}
a { /* Allow links (esp in index) to preserve native class and/or id styling in favor of defaults | Ref "V Ovchinnikov" and "Frxstrem" on stackoverflow; Posted Jan 19 2012, Edited Nay 1 2018, Read September 7 2023 */
  color: inherit;
  text-decoration: inherit;
}

/* HOMEPAGE */

/* Parent Navigation */
#home_nav_holder{
  height: 100dvh; /* Translates to vh when unsupported, else allows responsiveness to phone dynamic search/navigation bar */

  display: flex; /* Center elements */
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Directs child objects (.home_nav) into vertical arrangement */
}

/* Inset navigation, two instances */
.home_nav{
  height: 50vh; /* Half presence on screen by full width; theoretically could inverse these to 100vh, 50vw */
  width: 100vw;

  background-color:#E9E0D7; /* Cream to Off-White | Future Reference, intend to replace w/ high sepia illustration of location as present in several other school media */

  color: #C52233; /* Backup color in event of interaction breaking, preserves initial color minus interactions thereafter */
  font-weight: bold;
  font-family: sans-serif;
  font-size: min(8vw, 4em); /* Font scaling (conf. I do not fully understand, only that it works enough) to establish a responsive scaling header text with bounds to preserve comprehensibility. */

  display: flex; /* Center text within block */
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 0 5px inset #E9E0D7, 0 0 0 10px inset #C52233; /* Double outline for blocks, fourth number assigns outward spread from center of element */
}

/* Entire text within .home_nav, effecting both subclasses text_outset and text_inset */
.text_bracket{
  color: transparent; /* Show through text (cutout) in towards assigned background image */

  background-image: linear-gradient(90deg, white 50%, #C52233 50%); /* Block of color containing both white and assigned value red */
  background-position:100%; /* Initial position of color block relative to viewport, ergo text appears a.v. red to start */
  background-size:200% 100%; /* Ensures color block size responsivity such that transition functions regardless of viewport size */

  background-clip:text; /* Ensures that the only trait impacted by color block IS text - otherwise would result solid-colored block of a.v. red and white */
  -webkit-background-clip:text;

  transition: background-position 1s ease, .7s; /* Extend transition for background shift relative towards all other css changes */
  padding: 20px 30px; /* Oblong selection area beyond text scale itself in which selection and navigation occur as expected | h by w */
  user-select: none; /* Prevent user highlighting of text header elements */
}

/* Entire text interactivity conditions, dually when text is hovered and clicked; The latter condition allows efficacy in mobile environments where :hover is not recognized */
.text_bracket:hover, .text_bracket:active{
  background-position:0; /* Change position of color block so that text color changes in a line across the text */

  transform: scale(105%); /* Minor size increase to catch attention and demonstrate interaction */
  transition: .7s;
}

/* Larger, outset letters in each heading block */
.text_outset{
  vertical-align: middle; /* Align position relative to line established by inset. Alternate to max(-23px, -2.5vmin) */
  font-size: 2em; /* Double font size relative to established value */
}

/* Smaller, inset letters in each heading block */
.text_inset{
  border-top: 2px solid #C52233; /* Framing for inner text to increase visual presence while retaining distinction from outset elements */
  border-bottom: 2px solid #C52233;
}

/* Circular logo holder element. generic condition*/
.nav_logo{
  aspect-ratio: 1/1; /* Logo holder width will at all times be equal to that of the height */

  background-image: url("images/nav_crest.jpg"); /* Place school crest as image in holder element */
  background-color: white; /* Backup color assignment should image or assoc. file path fail */
  background-position: center; /* Center image relative to container */
  background-size: contain; /* Scale image relative to container */
  background-repeat: no-repeat; /* Ensure only one instance of crest image is present at any given time, prevent tiling of image */

  border-radius: 50%; /* Round space */

  box-shadow: 0 0 0 5px#E9E0D7, 0 0 0 10px #C52233; /* Double border overlays that of the two .home_nav borders to present continuous flow from flat into round border */
  border: 5px solid #C52233;
}

/* Spec. of previous, scale modif. for particular usage */
.home.nav_logo{
  position: absolute; /* Show above .home_nav and prevent offsetting either thereof */
  height: min(25vh, 17rem); /* Logo holder height will be no less than 25% of viewport, yet can increase in accordance with viewport scale | WIll be 17rem until said value < 25vh, whereupon def. to 25vh */
}

/* SECTION HEADERS */

/* Outer wrapper for hero section */
.page_dir{
  display: flex; /* Center relative to viewport */
  justify-content: center;
  align-items: center;

  transition: 1s;

  position: absolute; /* Occupy entire viewport over, not above, later elements */
  width: 100%;

  z-index: 6;
}

 /* Applied via JS when viewport is at the top of page */
.page_top{
  background-color:#E9E0D7;
  height: 100dvh;  /* Occupy entire screen height */
  box-shadow: 0 0 0 5px inset#E9E0D7, 0 0 0 10px inset #C52233;  /* Border inset around full screen */
}

/* Applied via JS when viewport is anywhere but the top of page */
.page_scroll{
  margin-top: 7vh;  /* Prevent overlap from logo crest over top of viewport */ /* Moved to .page_scroll from .page_dir to restrict presence rel to scroll condition */
  position: fixed;  /* Rather than sticky, as other causes stuttering when scrolling off / on */
  height: 10vh;  /* Occupies 10% of screen height on any particular viewport height */
}

/* Positions logo crest relative to title, scales relative to scroll condition to facilitate use across platforms */
.site.nav_logo{
  height: min(20vh, 17rem); /* Somewhat arcane scale variability. Works well enough at present */
  transition: 1s;
}

 /* Changes thereto when at .page_top */
.page_top.page_dir .site.nav_logo{
  transform: scale(125%); /* Magnify scale of logo image when viewport is at the top of the page */
  position: absolute;  /* Position behind and to the center by placing absolute, thus effected by parent element flex properties */
}

 /* Changes thereto when at .page_scroll */
.page_scroll.page_dir .site.nav_logo{
  z-index: 4;  /* Bring back above text header to show crest */
  margin: 0 -5vw 0 0;  /* Reverse margin to hold crest towards right over the leftmost point of the skewed object */
}

 /* Outer text holder element */
.dir_title_outer{
  transform: skewX(-45deg);  /* Offset block 45 degrees right to impart accent curve */

  background-color:#E9E0D7;;
  height: 10vh;  /* Occupy 10% of viewport height and 50% of viewport width */
  width: 50vw;
  box-shadow: 0 0 0 5px#E9E0D7, 0 0 0 10px #C52233;  /* Double external borders relative to innermost border element */
  border: 5px solid #C52233;

  display: flex;  /* Center text elements relative to the center of 10vh by 50vw as desc. above */
  justify-content: center;
  align-items: center;

  z-index: 3;  /* Position above lower element and relative to the crest element as it changes position */
}

 /* Changes thereto when at .page_top */
.page_top.page_dir .dir_title_outer{
  transform: skewX(-40deg) scaleY(125%) scaleX(105%);  /* Reduce skew and increase scale to give accent when element is in focus */
  padding: 5px 0 5px 0;
}

 /* Both build accent dot to one side of principle header */
.dir_title_outer::before{
  height: 1.5vw;  /* Establish height of element reltive to viewport width */
  aspect-ratio: 1/1;  /* Ensure that width is alwaus equal to height */
  vertical-align: top;  /* Align element relative to the top of the line */
  background-color: #C52233;
  display: inline-block;
  content: '';  /* Ensure that the element does not hold any characters/etc. */
  transform: skewX(45deg);  /* Reverse skew from parent to preserve shape */
  margin: 0 15px 0 15px;  /* Offset from surrounding text */
  border-radius: 50%;  /* Translate to circle */
}
.dir_title_outer::after{  /* There should be and probably is a way to do this in a single rule. I don't know that way */
  height: 1.5vw;
  aspect-ratio: 1/1;
  vertical-align: top;
  background-color: #C52233;
  display: inline-block;
  content: '';
  transform: skewX(45deg);
  margin: 0 15px 0 15px;
  border-radius: 50%;
}

 /* Inner text holder element */
.dir_title_inner{
  transform: skewX(45deg);  /* Reverse skew relative to parent to preserve legibility of characters */

  color: #C52233;
  font-weight: bold;
  font-family: sans-serif;
  font-size: min(4vw, 4em);  /* Allow dynamic resizing of characters relative to viewport within set bounds */
}

 /* Footer element to the hero section, directs readers to scroll */
.dir_dir{
  position: absolute;  /* Position independent of other elements on page */
  bottom: 40px;  /* Establish distance between element and bottom of viewport */

  font-family: sans-serif;
  font-weight: bold;
  font-size: 2.2em; /* Emphasize font size to 2.2 times default */
  color: #C52233;

  z-index: 6;
  transition: 1s; /* ALl changes to class occur over one second */
}

.page_scroll.page_dir .dir_dir{
  font-size: 0; /* Shrink as exiting view */
  z-index: 0; /* Reduce z-axis height for element when in .page_scroll so that it falls underneath the reduced size of .page_dir rather than sitting above it */

}

/* SVG */

#scroll_svg{
  position: fixed;
  top: 23vh;
  right: 15vw;
  width: max(35px, 3vw); /* max(35px, 3vw) -- find a way to unscrew it */
  height: auto;
  overflow: visible;
}
#scroll_svg_pos{
  fill: #C52233;
}
#scroll_svg_path{
  fill: none;
  stroke-dashoffset: 3px;
  stroke: #C52233;
  stroke-width: 5;
  stroke-miterlimit: 10;
  stroke-dasharray: 20;
}
#scroll_svg_text{
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  filter: drop-shadow(2px 2px #C52233);
}

/* SECTION PAGES */

/* Ensure that text appears appropriately below smaller title bar on page_scroll */
.spacer{
  height: 18.5vh; /* Height matches to space occupied thereby */
  position: sticky; /* Persist at top of page */
  z-index: 0; /* Exist below all positioned elements yet nonetheless above all non-positioned elements (ergo, text) */
  top: 0; /* Exist at the exact top of the viewport */
  background-color:#E9E0D7; /* Blend with background */
  margin-bottom: 17vh; /* Effectively give text space to appear without being scrolled over on initial transition to page_scroll */
}

/* Outer wrap for main body text */
.main_outer{
  min-height:200vh; /* Temporary measure until site exceeds 200vh, ensures ability to scroll */
  width: 100vw; /* Wrapper occupies entirety of viewport width */
  /* text-align: center; */ /* Consideration / Alternate */
  visibility: hidden; /* Prevent showing above elements in .page_top */

  display: flex; /* Center .main_inner relative to the viewport to asllow more convenient measured positioning thereof */
  justify-content: center;
}

/* Inner block for main body tet */
.main_inner{
  width: 40vw; /* Text area occupies 40% of given viewport */
  padding: 5vh 5vw 0 max(2vw, 38.4px);
  border-left: 5px solid #C52233; /* Off-centered bordering + corresponding margin allows accented position relative to header */
  margin-left: 8vw;
  box-shadow: -5px 0 0 0#E9E0D7, -10px 0 0 0 #C52233;
  margin-top: -50px;
}

.page_scroll.page_dir ~ .main_outer{ /* Element .main is a sibling of element .page_scroll.page_dir, and its style is impacted by the configuration of its sibling */
  visibility: visible;
  transition: 5s;
}
