
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/masks.edges.min.css";
/*

  To those who may hereafter come,

  I petition your forgiveness for
  those travesties which persist herebelow: I am limited in time
  and proficiency, and but hope my meager industry is sufficient for
  your aims, whatsoever they might be.

  I hope the High Tide yearbook persists in good care and condition,
  and that you are yet as appreciated by the student body as I know you
  to be as I type these few words.

  Long live the Journalism Pathway.

  Yours,
  Wyatt Wilson, Cohort 2023

  23.03.23

*/


/* Variables */

:root{
  /* Main Title Colors - L > R */
  --color-one: #ff6961; /* Primary Color for Yearbook Sect. Homepage */
  --color-two: #5E1916; /* Primary Color for Journalism Sect. Homepage */

  /* These references tie to the left and right hero images for the home page; Only alter inside the quotation marks (" ") beginning from "https://" */
  --yearbook-hero: url("https://media.istockphoto.com/id/1169127480/photo/media-interview-journalists-interviewing-politician-or-businessman.jpg?s=612x612&w=0&k=20&c=tWRq_W5F6uheEJyg7J4uhWw2cs8fJVxzaX44g9At8Q8=");
  --journalism-hero: url("https://media.cntraveler.com/photos/5900bcac867df9167f358480/16:9/w_1280,c_limit/GettyImages-516978723.jpg");

  /* This reference ties to the logo image. If changing it pushes it off-center, you may have to enter the danger zone.
  Input "Ctrl + F" to search, input "--logo-hero" minus quotes. "top" and "left" with percentile values control UPPER
  CORNER of the image (it is always a square) */
  --logo-hero: url("https://www.svgrepo.com/show/25794/zoom.svg");
}

/*
*
*
*  GO BEYOND THIS POINT AT YOUR PERIL.
*
*  ABANDON ALL HOPE YE WHO ENTER HERE.
*
*  Seriously, though: If you go down from
*  this point and everything breaks, I
*  warned you. "Ctrl + Z" is your friend:
*  Keep un-doing until you don't feel bad
*  anymore.
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*  Ok. I warned you. This is where it gets sketchy. Good luck. :D
*
*/

body::-webkit-scrollbar {
    display: none;
}
*{
  margin: 0;
 }
 *::-webkit-scrollbar {
      display: none;
}
html{
  scroll-behavior:smooth;
}
 .border{
   overflow: hidden;
 }
.image{
  width: 98.5vw;
  height: 100vh;
  object-fit: cover;
  filter: grayscale(100);
  transition: 0.8s filter;
}
.right{
  position: absolute;
  top: 0;
  right: -5px;
  content: var(--yearbook-hero);
  -webkit-clip-path: polygon(70% 0, 100% 0%, 100% 100%, 40% 100%);
  clip-path: polygon(60% 0, 100% 0%, 100% 100%, 40% 100%);
}
.left{
  position: absolute;
  top: 0;
  left: -5px;
  content: var(--journalism-hero);
  -webkit-clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
}

.right:hover{
  filter: grayscale(0);
  transition: 0.5s filter;
}
.left:hover{
  filter: grayscale(0);
  transition: 0.5s filter;
}

#one{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-one);
  box-sizing: border-box;

  -webkit-clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
}
#two{
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-two);
  box-sizing: border-box;

  -webkit-clip-path: polygon(70% 0, 100% 0%, 100% 100%, 40% 100%);
  clip-path: polygon(60% 0, 100% 0%, 100% 100%, 40% 100%);
}
#logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:262px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: white;
}
#logoImg{
  height: 145px;
  position:absolute;
  top:48.1%;
  left:48.1%;
  transform: translate(-50%, -50%);
  content: var(--logo-hero);
}

#circle {
  margin-top: 2px;
  position: absolute;
  margin-left:2px;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 600px;
  aspect-ratio: 1/1;
  -webkit-clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 40% 100%, 0 100%);
  overflow:hidden;

  }

#circle2 {
  margin-top: 2px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 600px;
  aspect-ratio: 1/1;
  -webkit-clip-path: polygon(70% 0, 100% 0%, 100% 100%, 40% 100%);
  clip-path: polygon(60% 0, 100% 0%, 100% 100%, 40% 100%);
  overflow:hidden;

  }

#circle text { font-family: 'Helvetica Neue', Arial; font-size: 16px; font-weight: bold; }

#circle svg { position: absolute; left: 0; top: 0; width: 100%; height: 540px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 8s;
     -moz-animation-duration: 8s;
      -ms-animation-duration: 8s;
       -o-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

#container{

  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  height:320px;
  width: 320px;
  margin-top: 28px;
  overflow:hidden;
}

.headerOne{
  fill: var(--color-one);
}
.headerTwo{
  fill: var(--color-two);
}


#circle2 text { font-family: 'Helvetica Neue', Arial; font-size: 16px; font-weight: bold; }

#circle2 svg { position: absolute; left: 0; top: 0; width: 100%; height: 540px;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 8s;
     -moz-animation-duration: 8s;
      -ms-animation-duration: 8s;
       -o-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}

/*





*/

#nav{
  position: fixed;
  top: 50%;
  right:3em;
  transform: translate(0, -50%);
  background-color: #f5f5f5;
  border-radius: var(--radius-round);
  z-index: 999;
  border: 4px solid #24272e;

}
#outset{
  -webkit-mask-image: -webkit-gradient(linear, left 20%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  overflow: scroll;
  max-height:80vh;
}
#inset{
  -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  overflow: scroll;
  max-height:40vh;
  min-height:135px;
}
.key{
  content: '';
  display: block;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background:#FF6961;
  margin: 30px;
  transition: 0.5s;
  position: relative;
  z-index:1;
}

.active{
  background: #FF3D33;
  transform: scale(1.5);
  transition: 0.5s;
}

.key img{
  opacity: 0;
  width: 2em;
  height: 2em;
  position:absolute;
  z-index:1000000;
  transition: 0;
  transform: scale(1.5);
}
.key.active img{
  opacity: 100;
  transition: 2s;
}
.content{
  min-height:120vh;
}
#splitter{
  content: '';
  display: block;
  width: 2.5em;
  height: 0.2em;
  line-height: 0;
  background:#FF7950;
  margin: auto;
}
.small{
  transform:scale(.5);
}
.sect{
  height:auto;
  min-height:50vh;
}
.flip-card {
  background-color: transparent;
  width: 20vw;
  min-width: 365px;
  aspect-ratio: 1/1;
  perspective: 1000px;
  overflow-x: visible;
  margin: 20px;
  border-radius: 15px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: solid 4px #24272e;
  border-radius: 15px;
}
.flip-card-front img{
  width:20vw;
  min-width: 365px;
  aspect-ratio: 1/1;
  border-radius: 10px;
}

@media (max-width: 600px){
  #nav{
    right: 1em;
  }
  .flip-card{
    min-width:335px;
    margin-left: -1em;
  }
  .flip-card-front img{
    min-width:335px;
  }
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #FF6961;
  color:  #f5f5f5;
  transform: rotateY(180deg);
  font-family: 'Ubuntu-Title', sans-serif;
  letter-spacing: .15em;
}
.flip-card-back p{
  font-size: 1.5em;
}
